html {
    font-family: Tahoma, Arial, sanf-serif;
    background-color: lightblue;
    font-size: 1.4rem
}

.inline-image {
    max-height: 1em;
    min-height: 0.6em;
    width: auto;
    vertical-align: middle;
}

.inline-image-tall {
    max-height: 3em;
    min-height: 0.6em;
    width: auto;
    vertical-align: middle; 
}
